.editorParagraph {
  font-family: "Source Sans Pro";
	font-weight: 400;
	letter-spacing: .7px;
	font-size: 18px;
	color: #757575;
}

.editorHeaderOne {
  font-family: 'Montserrat';
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 30px;
  color: #1a1c21;
	text-transform: uppercase;
}
