body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


/* Crimson Text Normal Fonstyle */
@font-face {
  font-family: 'Crimson Text';
  src: url('./App/Shared/Web/Fonts/CrimsonText-Roman.ttf');
}
@font-face {
  font-family: 'Crimson Text';
  src: url('./App/Shared/Web/Fonts/CrimsonText-Italic.ttf');
  font-style: 'italic';
}

/* Montserrat Normal Fontstyle */
@font-face {
  font-family: 'Montserrat';
  src: url('./App/Shared/Web/Fonts/Montserrat-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./App/Shared/Web/Fonts/Montserrat-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./App/Shared/Web/Fonts/Montserrat-Medium.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./App/Shared/Web/Fonts/Montserrat-Bold.ttf');
  font-weight: 700;
}

/* Source Sans Pro Italic Fontstyle*/
@font-face {
  font-family: 'Source Sans Pro';
  src: url('./App/Shared/Web/Fonts/SourceSansPro-LightItalic.ttf');
  font-weight: 300;
  font-style: 'italic';

}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('./App/Shared/Web/Fonts/SourceSansPro-Italic.ttf');
  font-weight: 400;
  font-style: 'italic';
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('./App/Shared/Web/Fonts/SourceSansPro-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: 'italic';
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('./App/Shared/Web/Fonts/SourceSansPro-BoldItalic.ttf');
  font-weight: 700;
  font-style: 'italic';
}

/* Source Sans Pro Normal Fontstyle*/
@font-face {
  font-family: 'Source Sans Pro';
  src: url('./App/Shared/Web/Fonts/SourceSansPro-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('./App/Shared/Web/Fonts/SourceSansPro-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('./App/Shared/Web/Fonts/SourceSansPro-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('./App/Shared/Web/Fonts/SourceSansPro-Bold.ttf');
  font-weight: 700;
}
